// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	font-family: "Verdana", Times, sans-serif;
	font-weight: 800;
	font-size: 2em;
	color: Blue;
}
